* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-bg: hsl(180, 70%, 90%);
    --color-primary: hsl(180, 70%, 10%);
    --color-accent: hsl(180, 70%, 30%);

    --font-family: "Open Sans", sans-serif;
    --line-height: 1.25;
    --font-size: clamp(1.25rem, 3vw, 1.5rem);
    --font-size-sm: calc(0.8 * var(--font-size));
    --font-size-xs: calc(0.6 * var(--font-size));
}

html {
    font-family: var(--font-family);
    background-color: var(--color-bg);
    color: var(--color-primary);
    line-height: var(--line-height);
    font-size: var(--font-size);
}

body {
    margin-inline: auto;
    width: calc(100% - 2rem);
    max-width: 70ch;
}

main {
    margin-block-end: 2rem;
}
h1 { 
    margin-block-end: 1rem;
}

p {margin-block-end: 1rem;}

.rules {
    font-style: italic;
    font-size: var(--font-size-xs);
    max-width: 70ch;
}

.score, .choices {
    font-weight: 700;
    margin-block: 2rem;
}

.buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5em;
    margin-block: 1rem;
}
.button {
    background-color: var(--color-primary);
    color: var(--color-bg);
    padding: 0.25em 1em;
    font-weight: 700;
    font-size: var(--font-size-sm);
    cursor: pointer;
    border: none;
    border-radius: 0.25em;
}

.button:hover, .button:focus {
    background-color: var(--color-accent);
}

.display-none {
    display: none;
}